.popup-header {
    background: red;
    padding-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.popup-content {
    color: #2F6964;
}
.popup-button-close {
    color: #2F6964;
}