.post-slide5{
    margin: 0 15px;
    transition: all 0.4s ease-in-out 0s;
    box-shadow: 0 1px 2px rgba(43,59,93,0.30);
    margin-bottom:2em;
    margin-top: 20px;
}
.post-slide5 .category {
    width: 20%;
    font-size: 16px;
    color: #fff;
    line-height: 11px;
    text-align: center;
    text-transform: capitalize;
    padding: 11px 0;
    background: #ff9412;
    position: absolute;
    bottom: 0;
    left: -50%;
    transition: all 0.5s ease-in-out 0s;
}
.post-slide5:hover .category{
    left: 0;
}
.post-slide5 .post-review{
    padding: 25px 20px;
    background: #fff;
    position: relative;
}
.post-slide5 .post-title{
    margin: 0;
}
.post-slide5 .post-title a{
    display: inline-block;
    font-size: 16px;
    color: #ff9412;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 25px;
    transition: all 0.30s linear 0s;
}
.post-slide5 .post-title a:hover{
    text-decoration: none;
    color: #555;
}
.post-slide5 .post-description{
    font-size: 15px;
    color: #555;
    line-height: 26px;
}
.post-review .post-bar{
    margin-top: 20px;
}
.post-bar {
    text-align: left;
}
.post-bar span{
    display: inline-block;
    font-size: 14px;
}
.post-bar span i{
    margin-right: 5px;
    color: #999;
}
.post-bar span a{
    color: #999;
}
.post-bar span a:hover{
    text-decoration: none;
    color: #ff9412;
}
.post-bar span.comments{
    float: right;
}
@media only screen and (max-width: 359px) {
    .post-slide5 .category{ font-size: 13px; }
}



/* ///////////////// */

.green-border-focus .form-control:focus {
    border: 1px solid #8bc34a;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}