.color-editprofile {
    min-height: 85vh;
}

.form-editprofile {
    border: 5px;
    border-color: black;
}

.card {
    height: auto;
}
.card-signin {
    margin-top: 18px;
}

.btn-editprofile {
    margin-top: 30px;
    background: #2F6964;
    border: #2F6964;
}
.btn-editprofile:hover {
    border: 1px solid #2F6964;
    background: white;
    color: #2F6964;
}

.selcls {
    width: auto;
    height: 47px;
    padding: 9px;
    border: solid 1px #517B97;
    border-radius: 30px;
    outline: 0;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #CAD9E3), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #CAD9E3 1px, #FFFFFF 25px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;

}

.card.card-signin.flex-row {
    border-radius: .25rem;
}