.form-post {
    margin-top: 20px;
}
.btn-post {
    color: #2F6964;
    background-color: transparent;
    background-image: none;
    border-radius: 35px;
    border: 1px solid #2F6964;
    width: 100%;
}
.btn-post:hover {
    background-color: #2F6964;
    border-color: #2F6964;
}

.color-form-post:hover {
    border-color: #296D38;
}