.wrapper {
    margin-top: 18px;
}

body {
    /* background-image: url(""); */
    background-color: white;
    ;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.card-img-top {
    height: 25vh;
}

/*----------------Containers--------------------*/

#top-container-fluid-nav {
    /* background-image: url(""); */
    background-color: inherit;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#body-container-fluid {
    /* background-image: url(""); */
    background-color: inherit;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 18px;
}

#footer-container-fluid {
    /* background-image: url("../avatar.jpg"); */
    background-color: inherit;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 25px;
    padding-top: 25px;
}

.card {
    height: 600px;
    padding: 10px;
    border: 0px solid white;
    box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.09);
}

.card-body {
    text-align: left;
    line-height: 1.5;
}

.card-title {
    text-align: left;
    margin-bottom: 0;
}

.card-gender {
    text-align: left;
}

.card-text {
    color: #84919B;
    text-align: left;

}

#courses {
    text-align: center;
}
.profile-icon {
    color: black;
    font-size: 15px;
}
.btn-profile {
    background: #2F6964;
    border: #2F6964;
    color: white;
}
.btn-profile:hover {
    color: #2F6964;
    background: white;
    border: 1px solid #2F6964;
}
